#/
	#  GitIgnore
	#  @link https://www.toptal.com/developers/gitignore/ GitIgnore generator.
	#
#/



# --------------------------------------------------------------------------
#   Project-specific rules
# --------------------------------------------------------------------------

#   Temporarily ignoring
#   @note For items that I am actively using, but need to
#         organize and vet a bit more.
# ------------------------------------------------------------




#   Configuration files
# ------------------------------------------------------------

# Environment
.env

# Git includes
./resources/git/**/*.inc


#   Build files
# ------------------------------------------------------------

# PHP-CS-Fixer
.php-cs-fixer-rules.json
.php-cs-fixer.php

# Stylelint
.stylelintrc.json

# Prettier
.prettierrc

#   Others
# ------------------------------------------------------------

# Any file with a preceding underscore.
_*

# Vendor files
node_modules
vendor
