# --------------------------------------------------------------------------
#   Dotfiles → Git Ignore
#   An ignore file for the Dotfiles repository.
# --------------------------------------------------------------------------

#   Build files
# ------------------------------------------------------------
.eslintignore
.eslintrc
.markdownlint.json
.prettierignore
.prettierrc

#   Configuration files
# ------------------------------------------------------------
# Environment
.env

# Git includes
config/git/hooks/**
config/git/includes/**

# Keep Git sample files
!config/git/**/*.sample




#   Others
# ------------------------------------------------------------

# Any file with a preceding underscore.
_*

# Vendor files
node_modules
vendor
