# --------------------------------------------------------------------------
#   Dotfiles → Git Ignore
#   An ignore file for the Dotfiles repository.
# --------------------------------------------------------------------------



#   Configuration files
# ------------------------------------------------------------

# Environment
.env

# Git includes
config/git/hooks/**
config/git/includes/**

# Keep Git sample files
!config/git/**/*.sample

#   Build files
# ------------------------------------------------------------


#   Others
# ------------------------------------------------------------

# Any file with a preceding underscore.
_*

# Vendor files
node_modules
vendor
