# --------------------------------------------------------------------------
#   Environment file
#   Used for global settings.
# --------------------------------------------------------------------------

# Sets the environment [local, server].
ENV=

# Alias to ENV; used in previous versions.
# @deprecated
ENVIRONMENT=$ENV


#   System settings
#   Settings specific to the environment.
# ------------------------------------------------------------

# Sets the Terminal editor to use.
# @see
# TODO Add URL for different Terminal editors
EDITOR=

# Sets the location of SSH keys on system.
SSH_KEY=

# Set the timezone.
# @see 
# TODO Add link to timezone options.
TZ=

# Alias to TZ; used in previous versions.
# @deprecated
TIMEZONE=$TZ


#   Paths
# ------------------------------------------------------------

# Sets path to the Dotfiles directory (this directory!)
DOTFILES_PATH=

# Sets path to the project boilerplates directory.
# @see resources/zsh/bin/create-project
DOTFILES_PATH_BOILERPLATES=

# Sets path to ZSH configuration files.
DOTFILES_PATH_ZSH=


#   OhMyZSH
#   Settings specific to OhMyZSH.
#   @see
#   TODO Add URL to OhMyZSH.
# ------------------------------------------------------------

# --- OhMyZSH → Main ------ #

# Sets the ZSH theme.
# @see
# TODO Add OhMyZSH theme options URL.
ZSH_THEME=

# Sets the frequency (in days) of checks for updates.
ZSH_UPDATE_DAYS=

# --- OhMyZSH → Plugin settings ------ #

# --- OhMyZSH → Theme settings ------ #


#   Sensitive info
#   Any additional sensitive information that you
#   want to access, but don't want to store (e.g. passwords).
# ------------------------------------------------------------

# Username for access to Enedos homelab.
ENEDOS_USER=
